#################################################
# Server
#################################################

# One of development, production, test
NODE_ENV=

PORT=
# Absolute URL with no trailing slash, e.g. http://localhost:3000
APP_ORIGIN=
# Comma-separated absolute URLs with no trailing slash
ALLOWED_ORIGINS=

#################################################
# Database
#################################################

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

DATABASE_URL=
